<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>To-Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1 class="Display-1"><em>Create a new item within the category</em></h1>
      <div class="row">
        <div class="col-md-2">
          <form action="/Categories/Items" method="post">
            <input id="category-id" name="category-id" type="hidden" value="@Model.GetId()">
            <label for="item-description">Item description:</label>
            <input id="item-description" name="item-description" type="text">
            <button class="btn btn-info" type="submit" name="button"><em>Add item</em></button>
          </form>
        </div>
        <div class="col-md-2">
          <form action="/" method="get">
            <button class="btn btn-info" type="submit" name="button"><em>Home</em></button>
          </form>
        </div>
        <div class="col-md-2">
          <form action="/Categories/Index" method="get">
            <button class="btn btn-info" type="submit" name="button"><em>Back to categories index</em></button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
